# Python
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging (Generale)
.Python
build/
develop-eggs/
dist/
dist_installer/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
*.manifest
*.spec

# Installer logs
*.log

.csv

# Unit test / coverage
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
Lib/
Scripts/
Include/
pyvenv.cfg

# IDE settings
.spyderproject
.spyproject
.ropeproject

# Documentation & Type checking
/site
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/
.pytype/
cython_debug/

# --- INTELLEO SPECIFIC ---

# 1. Ignora database locali e cache
cliente/
cache/
*.db
*.sqlite
.database_documenti.db.lock

# 2. Ignora output di build e offuscamento
Intelleo/
obfuscated/
admin/offusca/build/
admin/offusca/build_log.txt

# 3. Gestione cartella 'dist' in admin/offusca/
# Prima ignora tutto il contenuto di dist
admin/offusca/dist/*

# Poi INCLUDI (whitelist) solo i file specifici richiesti
!admin/offusca/dist/installer_assets/
!admin/offusca/dist/setup_script_generated.iss

# 4. File sensibili o temporanei
desktop_app/assets/installer_*.bmp
/admin/crea_licenze/PC COEMI ALLEGRETTI
admin/crea_licenze/seriale_disco.txt
admin/token_injector/
/riepilogo_Bug_Sonar.py