# Virtual Environment
/Include
/Lib
/Scripts

# Local Database
database.db

# Log files
*.log

# Uploaded files
uploads/

# IDE specific files
.idea/
.vscode/

# Python cache
__pycache__/
*.pyc
"Lib/" 
"Scripts/" 
"Include/" 
app/api/__pycache__/main.cpython-312.pyc

# Environment variables
.env
/desktop_app/__pycache__
