# Cartelle e file della cache Python
__pycache__/
*.pyc

# Ambiente virtuale (creato alla radice del progetto)
/Lib/
/Scripts/
/Include/
/share/
/pyvenv.cfg
/pip-selfcheck.json

# Ambiente virtuale (se creato in una cartella 'venv' o '.venv')
venv/
.venv/

# File delle variabili d'ambiente (Contiene l'API KEY)
.env

# Database locale
database.db

# File di log
*.log

# Cartella dei file caricati
uploads/

# File specifici dell'IDE
.idea/
.vscode/

# Script di test temporanei
check_list_AI.py
tests/test_ai_extraction_old.py
